<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.warehouseservice.mapper.BWarehouseInfoMapper">
    <select id="listBWarehouseInfo" resultType="org.example.warehouseservice.domain.BWarehouseInfo">
        select * from b_warehouseinfo
    </select>
</mapper>